@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-red: #f43f5e4d;
  --theme-blue: #123eb86b;
  --theme-yellow: #deef366b;
  --theme-deepred: #e63b236b;
  --theme-green: #23e65f6b;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #f5f5f5;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.8rem;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}